*{
    box-sizing: border-box;
    font-style: normal; 
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0
}
ul{
    list-style: none;
}
.header{
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 1px 10px 0 rgb(0, 32, 92);
}
.header-con{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header-padding{
    padding: 4px 48px;
}
.header a{
    text-decoration: none;
    color: rgb(0, 32, 92);
    padding: 8px 16px;
    letter-spacing: 4px;
}
.header-list{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-right{
    display: flex;
    align-items: center;
}
.header-con a{
    position: relative;
    padding-left: 22px;
}

.main-content{
    padding: 4% 3% 2%;
    display: flex;
}
.left {
    width: 30%;
    box-shadow: rgba(64, 65, 66, 0.35) 0px 5px 15px;
}
.center {
    width: 10%;
}
.right{
    width: 60%;
    display: flex;
    flex-flow: column wrap;
}
.left-img{
    background-image: url('https://i.pinimg.com/564x/cf/09/ac/cf09ac0f9c0c3dcc9ad0f2378e25e9fd.jpg');
    background-position: center;
    height: 300px;
    display: flex;
}
.left-h{
    align-self: flex-end;
    font-size: 40px;
    margin: 0px 16px;
    font-weight: bolder;
    color: #05485c;
}
.left-text{
    padding: 0 16px;
    color: #1b84a4;
}
hr{
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}
.p-large{
    font-size: 18px;
    margin: 18px 0;
}
.icons{
    font-size: 4px;
    margin: 0 8px 0 0;
    color: #002896;
}
.div-light-grey{
    background-color: #e8eef1;
    border-radius: 15px;
} 
.div-round{
    background-color: #0190c0;
    border-radius: 15px;
    color: white;
    text-align: center;
    font-size: 13px;
    padding: 2px 0;
}
.right{
    color: #020c3f;
    padding: 0 16px;
}
.right-top{
    padding: 10px 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 16px;
}
.right-h{
    font-size: 30px;
    font-weight: normal;
    margin: 15px 0 33px 0;
}
.right-top-text {
    padding: 0 16px;
}
h5{
    font-size: 18px;
    margin: 20px 0;
}
h6{
    font-size: 16px;
    margin: 20px 0;
    font-weight: 300;
}
.h6-icon{
    margin: 0 16px 0 0;
    font-size: 1.3em;
    color: #000296;
}
span{
    background-color: #009688;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;
    font-style: normal;
    font-weight: 300;
}
.right-top-text p{
    margin: 6px 0;
    color: #034a5c;
}
.right-bot{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px 16px;
} 
.footer-hover:hover{
    opacity: 0.6;
}

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
}

#fs-frm [type="text"],
#fs-frm [type="email"] {
    width: 100%;
}

#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
    outline: none;
}

#fs-frm [type="submit"],
#fs-frm [type="reset"] {
    margin-bottom: 0;
}

#fs-frm select {
    text-transform: none;
}

#fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
}

#fs-frm fieldset.locale input[name="city"] {
    width: 52%;
}

#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
    width: 20%;
}

#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
  input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
  }
  input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  details .social {
    padding: 15px;
    margin: 5px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
  }

  .social a:hover {
    background-color: darkred;
    color: white;
    -webkit-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    -moz-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    -o-transition: background-color 0.6s ease-out, color 0.6s ease-out;
    transition: background-color 0.6s ease-out, color 0.6s ease-out;
  }

  